/*#div_logo{height: 50px; background-color: #595959}*/
#area-leitura-codigo{
    margin: 5px;
    
    width: 19%;
    background-color: #545454;
    float: left;
}
#cad-produto{
    margin: auto;
    width: 1200px;

}
#itens-do-volume{
    margin: 5px;
    
    width: 79%;
    background-color: #545454;
    float: right;
}
#itens-do-pedido{
    padding: 10px;
    margin: 5px; 
    margin-top: 310px;
    
    width: 98.4%;
    background-color: #545454;
}
#pesq-produto{
    margin: auto;
    width: 1200px;
}
#conteudo{
    
    padding: 0px 8px
}
#login-dialog{
    width: 290px;   
    margin: auto; 
    margin-top: 150px;
}
#logo{
    height: 25px ;
    padding: 3px 20px
}
#venda-direta{
    
    background-color: #545454;
    box-shadow: 5px 5px 5px #000;
}
.ajax-status{
    position: fixed;
    top: 55px;
    right: 60px;
    width: 35px;
    height: 35px;
}
.corpo{
    background-color: #ccc;
   // background-image: url("img/background/1676581.jpg");
    
}
.campo{
    background-color: #006dcc;;
}
.formulario{
    background-color: #0081c2;
    box-shadow: 5px 5px 5px #0081c2;
}
.grid-login{ 
    width: 290px;
    height: 150px;
    background-color: #ccc; 
    border-radius: 8px;    
    margin-top: 8px;
    padding: 10px;
    box-shadow: 5px 5px 5px #0081c2;

}
.label-media{

}
/* Menu sistema inicio */
.menu-sistema {
    border: 0px !important;
    padding: 0px !important;
    background: none !important;
}

.menu-sistema .ui-menu-parent > a .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
    color: #ffffff !important;
}

.menu-sistema .ui-icon-triangle-1-s {
    background: url(#{resource['images:seta-para-baixo.png']}) no-repeat;
}
/* Menu sistema fim */

.rotulo{
    width: 200px;
    background-color: #d14;
    color: #ffffff;
    font-size: x-large;
}

.ui-panelgrid td{
    height: 34px;
}
footer{
    
    padding: 0px 8px;
    margin-bottom: 10px;
    background-color: #0081c2;
    
}
h1{
    color: #ffffff;

}
header{
    padding: 5px 0px;
    margin-bottom: 20px;
   
    background-color: #545454;
    color: #fff; 
    box-shadow: 0px 2px 2px #ccc
}

